img{
  width: 100%;
  max-width: 100%;
}
.custom-carousel .slick-prev, .custom-carousel .slick-next {
    position: absolute;
    width: 30px;
    height: 60px;
    background-color: white;
    color: #34495e;
    box-shadow: -2px 2px 12px -2px rgba(0, 0, 0, .3);
    text-align: center;
    z-index: 1;
    display: flex !important;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

:where(.css-dev-only-do-not-override-m4timi).ant-carousel .slick-prev::after {
  transform: rotate(-45deg);
}
:where(.css-dev-only-do-not-override-m4timi).ant-carousel .slick-next::after {
  transform: rotate(135deg);
}
:where(.css-dev-only-do-not-override-m4timi).ant-carousel .slick-prev::after,
:where(.css-dev-only-do-not-override-m4timi).ant-carousel .slick-next::after {
  position: static;
}
.ant-select-item-option-content {
    text-transform: capitalize;
}


/* antdesign  */
/* Change border color on hover */
.ant-select:hover .ant-select-selector {
  border-color: #15616d !important; /* Use the desired hover color */
}
:where(.css-m4timi).ant-carousel .slick-prev::after {
	position: static !important;
}
/* Change border color when focused */
.ant-select-focused .ant-select-selector {
  border-color: #15616d !important; /* Use the desired focus color */
}

/* Ensure the transition is smooth */
.ant-select .ant-select-selector {
  transition: border-color 0.3s ease;
}
/* Change border color on hover */
.ant-input[type="file"]:hover {
  border-color: #15616d !important; /* Desired hover color */
}

/* Change border color when focused */
.ant-input[type="file"]:focus {
  border-color: #15616d !important; /* Desired focus color */
  box-shadow: 0 0 0 2px rgba(217, 7, 217, 0.2); /* Optional: adds a focus outline */
}

/* Ensure the transition is smooth */
.ant-input[type="file"] {
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.ant-menu-item-selected {
  background-color: #15616d !important;
  color: #fff !important;
}