img{
  width: 100%;
  max-width: 100%;
}
.custom-carousel .slick-prev, .custom-carousel .slick-next {
    position: absolute;
    width: 30px;
    height: 60px;
    background-color: white;
    color: #34495e;
    box-shadow: -2px 2px 12px -2px rgba(0, 0, 0, .3);
    text-align: center;
    z-index: 1;
    display: flex !important;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

:where(.css-dev-only-do-not-override-m4timi).ant-carousel .slick-prev::after {
  transform: rotate(-45deg);
}
:where(.css-dev-only-do-not-override-m4timi).ant-carousel .slick-next::after {
  transform: rotate(135deg);
}
:where(.css-dev-only-do-not-override-m4timi).ant-carousel .slick-prev::after,
:where(.css-dev-only-do-not-override-m4timi).ant-carousel .slick-next::after {
  position: static;
}
.ant-select-item-option-content {
    text-transform: capitalize;
}